In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures

from joblib import dump,load

In [2]:
# load model
clf = load('model.joblib')

In [9]:
# load test
test = pd.read_csv('Paitients_Files_Test.csv')
test.head()

          ID  PRG   PL  PR  SK   TS   M11    BD2  Age  Insurance
0  ICU200609    1  109  38  18  120  23.1  0.407   26          1
1  ICU200610    1  108  88  19    0  27.1  0.400   24          1
2  ICU200611    6   96   0   0    0  23.7  0.190   28          1
3  ICU200612    1  124  74  36    0  27.8  0.100   30          1
4  ICU200613    7  150  78  29  126  35.2  0.692   54          0

In [10]:
test_scaled = test.drop(['ID', 'Insurance'], axis=1).copy()

In [11]:
# scale test 
poly = PolynomialFeatures(2).fit(test_scaled)
test_scaled= pd.DataFrame(poly.transform(test_scaled))
minmaxscaler = MinMaxScaler().fit(test_scaled.iloc[:,0:test_scaled.shape[1]])
test_scaled.iloc[:,0:test_scaled.shape[1]]= minmaxscaler.transform(test_scaled.iloc[:,0:test_scaled.shape[1]])

In [12]:
test_scaled.shape

(169, 45)

In [13]:
# predict
test_pred = clf.predict(test_scaled)

In [14]:
# add predicted label to data frame
test['Sepssis'] = test_pred

In [16]:
# export to csv
test.loc[:, ["ID", 'Sepssis']].to_csv('S3828276 predictions.csv', index=False)